# Getting Movie Keywords

## Dataset Creation

In [3]:
# Import libraries
import pandas as pd
import numpy as np

In [36]:
# Import 2 tables from IMDb datasets that we need
title_basics = pd.read_csv('title.basics.tsv.gz', sep='\t', header=0)
title_ratings = pd.read_csv('title.ratings.tsv.gz', sep='\t', header=0)

/var/folders/p1/hxp8xnvj1js_njxc2m724dpm0000gn/T/ipykernel_35122/1916371400.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_csv('title.basics.tsv.gz', sep='\t', header=0)

In [37]:
# Select only movies from the title_basics table
movies = title_basics[(title_basics.titleType == 'tvSeries')].copy()

In [38]:
# Set the indicies for our 2 tables to the IMDb key for movies
movies.set_index('tconst', inplace=True)
title_ratings.set_index('tconst', inplace=True)
# Joint the 2 tables by tconst, the IMDb key for all movies
movies_with_rating = movies.join(title_ratings, how='inner')

In [39]:
movies_with_rating.head(15000)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0035803,tvSeries,The German Weekly Review,Die Deutsche Wochenschau,0,1940,1945,12,"Documentary,News",8.1,55
tt0039120,tvSeries,Americana,Americana,0,1947,1949,30,"Family,Game-Show",3.0,15
tt0039123,tvSeries,Kraft Theatre,Kraft Television Theatre,0,1947,1958,60,Drama,8.1,199
tt0039125,tvSeries,Public Prosecutor,Public Prosecutor,0,1947,1951,20,"Crime,Drama,Mystery",5.5,23
tt0040021,tvSeries,Actor's Studio,Actor's Studio,0,1948,1950,30,Drama,7.2,80
...,...,...,...,...,...,...,...,...,...,...
tt0350457,tvSeries,Skithouse,Skithouse,0,2003,2004,25,Comedy,6.8,171
tt0350459,tvSeries,Stjerne for en aften,Stjerne for en aften,0,2001,2005,\N,"Family,Music",5.0,8
tt0350460,tvSeries,Søndagsmagasinet,Søndagsmagasinet,0,1980,2006,\N,News,7.4,11
tt0350462,tvSeries,Teleshop,Teleshop,0,1991,\N,60,\N,4.3,7
tt0350466,tvSeries,Viza za buducnost,Viza za buducnost,0,2002,2008,35,"Comedy,Drama,Family",6.6,235

In [40]:
# Take only the top 1,000 movies, where we rank movies by the number of votes they have received
movies_sorted_by_rank = movies_with_rating.sort_values(by=['numVotes'], ascending=False)[:10000]

In [41]:
len(movies_sorted_by_rank)

10000

In [42]:
# Take only the top 1,000 movies, where we rank movies by the number of votes they have received
movies_since_1992 = movies_sorted_by_rank.loc[(movies_sorted_by_rank['startYear'].isin(['2022',
                                                                                     '2021',
                                                                                     '2020','2019','2018','2017','2016',
                                                                                     '2015','2014','2013','2012','2011',
                                                                                     '2010','2009','2008','2007','2006',
                                                                                     '2005','2004','2003','2002','2001',
                                                                                     '2000','1999','1998','1997','1996',
                                                                                     '1995','1994','1993','1992']))]
movies_index = movies_since_1992.index

In [47]:
len(movies_since_1992)

8735

In [48]:
movies_since_1992.tail(100)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt5458128,tvSeries,The White Slave,La esclava blanca,0,2016,\N,60,History,8.0,617
tt14377480,tvSeries,Kamen Rider Black Sun,Kamen Rider Black Sun,0,2022,\N,86,"Action,Adventure,Drama",7.3,617
tt7867522,tvSeries,Bullets,Bullets,0,2018,2018,60,"Crime,Drama,Thriller",6.5,617
tt1483620,tvSeries,Kamen Rider W,Kamen raidâ Daburu,0,2009,2010,25,"Action,Adventure,Comedy",8.3,617
tt0805978,tvSeries,This American Life,This American Life,0,2007,2012,22,Documentary,8.4,617
...,...,...,...,...,...,...,...,...,...,...
tt0388583,tvSeries,Bruiser,Bruiser,0,2000,2000,29,Comedy,7.1,605
tt14129388,tvSeries,Bust Down,Bust Down,0,2022,\N,28,Comedy,6.8,605
tt10427926,tvSeries,Magical Sempai,Tejina Senpai,0,2019,\N,15,"Animation,Comedy,Drama",6.1,605
tt1559681,tvSeries,Gary: Tank Commander,Gary: Tank Commander,0,2009,2012,\N,"Comedy,War",7.8,605
tt7661472,tvSeries,Barbie Dreamhouse Adventures,Barbie Dreamhouse Adventures,0,2018,2020,22,"Animation,Comedy,Family",6.7,605

In [50]:
print(movies_since_1992.shape)

(8735, 10)

In [51]:
movies_sorted_by_rank.head(100)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0944947,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama",9.2,2142235
tt0903747,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller",9.5,1947109
tt4574334,tvSeries,Stranger Things,Stranger Things,0,2016,2024,51,"Drama,Fantasy,Horror",8.7,1226410
tt1520211,tvSeries,The Walking Dead,The Walking Dead,0,2010,2022,44,"Drama,Horror,Thriller",8.1,1017040
tt0108778,tvSeries,Friends,Friends,0,1994,2004,22,"Comedy,Romance",8.9,1016319
...,...,...,...,...,...,...,...,...,...,...
tt3920596,tvSeries,Big Little Lies,Big Little Lies,0,2017,2019,60,"Crime,Drama,Mystery",8.5,206639
tt0452046,tvSeries,Criminal Minds,Criminal Minds,0,2005,\N,42,"Crime,Drama,Mystery",8.1,205451
tt0098936,tvSeries,Twin Peaks,Twin Peaks,0,1990,1991,47,"Crime,Drama,Mystery",8.8,202240
tt6257970,tvSeries,The End of the F***ing World,The End of the F***ing World,0,2017,2019,25,"Adventure,Comedy,Crime",8.0,199242
tt8772296,tvSeries,Euphoria,Euphoria,0,2019,\N,55,Drama,8.4,198885

In [52]:
movies_sorted_by_rank.shape

(10000, 10)

In [53]:
from tqdm import tqdm
from time import sleep
from imdb import IMDb

ia = IMDb()

In [54]:
keywords_dict = {}
for movie_index in tqdm(movies_index):
    sleep(1)
    try:
        keywords_dict[movie_index] = ia.get_movie_keywords(movie_index[2:])['data']['keywords']
    except:
        keywords_dict[movie_index] = ''   
        
keywords = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in keywords_dict.items() ])).transpose()
keywords = keywords.apply(lambda x: ','.join(x.dropna()), axis=1)
keywords = pd.DataFrame(keywords)
keywords.rename(columns={0:'keywords'}, inplace=True)

100%|█████████████████████████████████████| 8735/8735 [4:41:15<00:00,  1.93s/it]

In [57]:
# Save the plots to a CSV
keywords.to_csv(path_or_buf='keywords_test.csv')

In [58]:
# Load our keywords for the CSV
keywords = pd.read_csv('keywords_test.csv')
keywords.rename(columns={'Unnamed: 0':'tconst'}, inplace=True)
keywords.set_index('tconst', inplace=True)

In [59]:
keywords.head()

                                                    keywords
tconst
tt0944947  based-on-novel,dragon,politics,nudity,incest,q...
tt0903747  cancer,chemistry,methamphetamine,albuquerque-n...
tt4574334  government-conspiracy,1980s,friendship,telekin...
tt1520211  zombie,survival,post-apocalypse,based-on-comic...
tt0108778  friendship,friend,new-york-city,roommate,divor...

In [60]:
# Join to our table
movies = movies_since_1992.join(keywords, how='inner')

In [61]:
# Save our dataframe to a CSV if you don't want to re-run the loop
movies.to_csv(path_or_buf='tvSeries_keywords_test.csv')

In [4]:
# Import 1 table from IMDb datasets that we need
title_akas = pd.read_csv('title.akas.tsv.gz', sep='\t', header=0)

/var/folders/p1/hxp8xnvj1js_njxc2m724dpm0000gn/T/ipykernel_35122/3071512314.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  title_akas = pd.read_csv('title.akas.tsv.gz', sep='\t', header=0)

In [46]:
title_akas.rename(columns = {'titleId':'tconst'}, inplace = True)

In [47]:
print(title_akas)

             tconst  ordering                      title region language  \
0         tt0000001         1                 Карменсіта     UA       \N
1         tt0000001         2                 Carmencita     DE       \N
2         tt0000001         3  Carmencita - spanyol tánc     HU       \N
3         tt0000001         4                 Καρμενσίτα     GR       \N
4         tt0000001         5                 Карменсита     RU       \N
...             ...       ...                        ...    ...      ...
35755013  tt9916852         5             Episódio #3.20     PT       pt
35755014  tt9916852         6             Episodio #3.20     IT       it
35755015  tt9916852         7               एपिसोड #3.20     IN       hi
35755016  tt9916856         1                   The Wind     DE       \N
35755017  tt9916856         2                   The Wind     \N       \N

                types     attributes isOriginalTitle
0         imdbDisplay             \N               0
1                  \N  literal title               0
2         imdbDisplay             \N               0
3         imdbDisplay             \N               0
4         imdbDisplay             \N               0
...               ...            ...             ...
35755013           \N             \N               0
35755014           \N             \N               0
35755015           \N             \N               0
35755016  imdbDisplay             \N               0
35755017     original             \N               1

[35755018 rows x 8 columns]

In [57]:
df_title_akas = pd.merge(title_akas, tvSeries_keywords,on="tconst")

In [58]:
len(df_title_akas)

173911

In [59]:
title_akas.region.unique()

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', '\\N', 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'AU', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR',
       'DK', 'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO',
       'XYU', 'AT', 'VE', 'CSHH', 'SI', 'SUHH', 'IN', 'TW', 'LT', 'NL',
       'CO', 'IR', 'BG', 'SG', 'BE', 'VN', 'HR', 'DZ', 'CH', 'BF', 'PH',
       'XWG', 'HK', 'CN', 'XSA', 'EC', 'EE', 'IS', 'PR', 'DDDE', 'IL',
       'EG', 'XKO', 'CL', 'IE', 'JM', 'KR', 'PE', 'GE', 'BY', 'BA', 'AE',
       'PA', 'TH', 'ZA', 'TJ', 'XSI', 'MY', 'LV', 'ID', 'PK', 'BD', 'CU',
       'AL', 'BO', 'XAS', 'CR', 'PY', 'DO', 'GT', 'SV', 'UZ', 'BUMM',
       'YUCS', 'XPI', 'BJ', 'AZ', 'SY', 'NG', 'CM', 'MA', 'GL', 'MN',
       'LI', 'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN',
       'HT', 'AM', 'LK', 'ME', 'CG', 'CI', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KP', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT',
       'GA', 'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY',
       'ET', 'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', nan, 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'KN', 'CC', 'TC', 'TV', 'CK', 'PW', 'NR',
       'JE'], dtype=object)

In [32]:
title_akas_US = title_akas.loc[title_akas['region'] == 'US']

In [34]:
print(title_akas_US.head())

      titleId  ordering                   title region language        types  \
5   tt0000001         6              Carmencita     US       \N  imdbDisplay
14  tt0000002         7  The Clown and His Dogs     US       \N           \N
33  tt0000005        10        Blacksmith Scene     US       \N  imdbDisplay
36  tt0000005         1     Blacksmithing Scene     US       \N  alternative
41  tt0000005         6     Blacksmith Scene #1     US       \N  alternative

               attributes isOriginalTitle
5                      \N               0
14  literal English title               0
33                     \N               0
36                     \N               0
41                     \N               0

In [5]:
tvSeries_keywords = pd.read_csv('tvSeries_keywords_test.csv')

In [13]:
tvSeries_keywords.head(1000)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,keywords
0,tt0944947,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama",9.2,2142235,"based-on-novel,dragon,politics,nudity,incest,q..."
1,tt0903747,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller",9.5,1947109,"cancer,chemistry,methamphetamine,albuquerque-n..."
2,tt4574334,tvSeries,Stranger Things,Stranger Things,0,2016,2024,51,"Drama,Fantasy,Horror",8.7,1226410,"government-conspiracy,1980s,friendship,telekin..."
3,tt1520211,tvSeries,The Walking Dead,The Walking Dead,0,2010,2022,44,"Drama,Horror,Thriller",8.1,1017040,"zombie,survival,post-apocalypse,based-on-comic..."
4,tt0108778,tvSeries,Friends,Friends,0,1994,2004,22,"Comedy,Romance",8.9,1016319,"friendship,friend,new-york-city,roommate,divor..."
...,...,...,...,...,...,...,...,...,...,...,...,...
995,tt2407574,tvSeries,My Mad Fat Diary,My Mad Fat Diary,0,2013,2015,47,"Comedy,Drama,Romance",8.4,18123,"overweight-girl,best-friends,psychiatric-hospi..."
996,tt11639952,tvSeries,Young Rock,Young Rock,0,2021,\N,\N,Comedy,7.9,18113,"childhood,wrestling,future,polynesia,look-back..."
997,tt2197797,tvSeries,666 Park Avenue,666 Park Avenue,0,2012,2013,60,"Drama,Fantasy,Horror",6.8,18106,"peeping-tom,cheating-wife,voyeur,seduction,jea..."
998,tt0421384,tvSeries,The Valley of the Wolves,Kurtlar Vadisi,0,2003,2005,60,"Action,Crime,Drama",7.8,18071,"mafia,istanbul-turkey"
999,tt1059475,tvSeries,Flashpoint,Flashpoint,0,2008,2012,41,"Action,Crime,Drama",7.8,18010,"cop-drama,canadian-police,true-crime,tactical,..."

In [61]:
#get unique genres
from sklearn.feature_extraction.text import CountVectorizer
temp = tvSeries_keywords.genres.dropna()
vec = CountVectorizer(token_pattern='(?u)\\b[\\w-]+\\b', analyzer='word').fit(temp)
bag_of_genres = vec.transform(temp)
unique_genres =  vec.get_feature_names_out()
np.array(unique_genres)

array(['action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'game-show',
       'history', 'horror', 'music', 'musical', 'mystery', 'n', 'news',
       'reality-tv', 'romance', 'sci-fi', 'short', 'sport', 'talk-show',
       'thriller', 'war', 'western'], dtype=object)

In [62]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="darkgrid")
plt.style.use("seaborn-pastel")

genres = pd.DataFrame(bag_of_genres.todense(),columns=unique_genres,index=temp.index)
sorted_genres_perc = 100*pd.Series(genres.sum()).sort_values(ascending=False)/genres.shape[0]
plt.figure(figsize=(15,8))
sns.barplot(x=sorted_genres_perc.values,y=sorted_genres_perc.index,orient="h")
plt.xlabel("Percentage of tvSeries (%)")
plt.show()

NameError: name 'plt' is not defined